extends ../layouts/default

block content
  h3= 'Login to your account'
  form
    input(id='login-email', type='text', name='email', placeholder='Enter your email address')
    input(id='login-password', type='password', name='password', placeholder='Enter your password')
    input(id='login-submit', type='submit', value='Login')
